<div class="container">
  <h2>Registration Form</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-xl-12">
        <label class="text-bold">Name</label>
        <div class="row" formGroupName="fullName">
          <div class="col-xl-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="First Name"
                name="firstName"
                formControlName="firstName"
                [ngClass]="{
                  'is-invalid':
                    !firstName?.valid &&
                    (firstName?.dirty || firstName?.touched)
                }"
                required
              />
              <small
                [hidden]="
                  !firstName?.valid && (firstName?.dirty || firstName?.touched)
                "
                >First Name</small
              >
              <div
                *ngIf="
                  !firstName?.valid && (firstName?.dirty || firstName?.touched)
                "
                class="invalid-feedback"
              >
                <div *ngIf="firstName.errors.required">
                  Frist Name is required
                </div>
                <div *ngIf="firstName.errors.maxlength">
                  First Name small than 32 character
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Last Name"
                name="lastName"
                formControlName="lastName"
                [ngClass]="{
                  'is-invalid':
                    !lastName?.valid && (lastName?.dirty || lastName?.touched)
                }"
                required
              />
              <small
                [hidden]="
                  !lastName?.valid && (lastName?.dirty || lastName?.touched)
                "
                >Last Name</small
              >
              <div
                *ngIf="
                  !lastName?.valid && (lastName?.dirty || lastName?.touched)
                "
                class="invalid-feedback"
              >
                <div *ngIf="lastName.errors.required">
                  Last Name is required
                </div>
                <div *ngIf="lastName.errors.maxlength">
                  Last Name small than 32 character
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="form-group">
          <label class="text-bold">E-mail</label>
          <input
            type="email"
            class="form-control"
            placeholder="ex: myname@example.com"
            formControlName="email"
            name="email"
            [ngClass]="{
              'is-invalid': !email.valid && (email.dirty || email.touched)
            }"
            required
          />
          <div
            *ngIf="!email.valid && (email.dirty || email.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6"></div>
      <div class="col-xl-6">
        <label class="text-bold">Phone Number</label>
        <div class="row" formGroupName="phoneNumber">
          <div class="col-xl-3">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Code"
                formControlName="code"
                pattern="\d{1,5}"
                [ngClass]="{
                  'is-invalid': !code.valid && (code.dirty || code.touched)
                }"
              />
              <small [hidden]="!code.valid && (code.dirty || code.touched)"
                >Area Code</small
              >
              <div
                *ngIf="!code.valid && (code.dirty || code.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="code.errors.required">Code is required</div>
                <div *ngIf="code.errors.pattern">Not the number</div>
              </div>
            </div>
          </div>
          <div class="col-xl-9">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Phone"
                formControlName="phone"
                pattern="\d{0,9}"
                [ngClass]="{
                  'is-invalid': !phone.valid && (phone.dirty || phone.touched)
                }"
              />
              <small [hidden]="!phone.valid && (phone.dirty || phone.touched)"
                >Phone Number</small
              >
              <div
                *ngIf="!phone.valid && (phone.dirty || phone.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="phone.errors.required">Phone is required</div>
                <div *ngIf="phone.errors.pattern">Not the number</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6"></div>
      <div class="col-xl-12">
        <label class="text-bold">Password</label>
        <div class="row">
          <div class="col-xl-6">
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                formControlName="password"
                [ngClass]="{
                  'is-invalid':
                    !password.valid && (password.dirty || password.touched)
                }"
                placeholder="Password"
                required
              />
              <small
                [hidden]="
                  !password.valid && (password.dirty || password.touched)
                "
                >Password</small
              >
              <div
                *ngIf="!password.valid && (password.dirty || password.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 8 characters
                </div>
                <div *ngIf="password.errors.maxlength">
                  Password must be at smaller than 128 characters
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                formControlName="passwordComfirm"
                [ngClass]="{
                  'is-invalid':
                    !passwordComfirm.valid &&
                    (passwordComfirm.dirty || passwordComfirm.touched)
                }"
                placeholder="Confirm Password"
                required
              />
              <small
                [hidden]="
                  !passwordComfirm.valid &&
                  (passwordComfirm.dirty || passwordComfirm.touched)
                "
                >Comfirm Password</small
              >
              <div
                *ngIf="
                  !passwordComfirm.valid &&
                  (passwordComfirm.dirty || passwordComfirm.touched)
                "
                class="invalid-feedback"
              >
                <div *ngIf="passwordComfirm.errors.required">
                  Confirm Password is required
                </div>
                <div *ngIf="passwordComfirm.errors.minlength">
                  Confirm Password must be at least 8 characters
                </div>
                <div *ngIf="passwordComfirm.errors.maxlength">
                  Confirm Password must be at smaller than 128 characters
                </div>
                <div *ngIf="passwordComfirm.errors.mustMatch">
                  Passwords must match
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-12">
        <label class="text-bold">Address</label>
        <div class="row" formGroupName="address">
          <div class="col-xl-12">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Street Address"
                formControlName="address1"
                [ngClass]="{
                  'is-invalid':
                    !address1.valid && (address1.dirty || address1.touched)
                }"
              />
              <small
                [hidden]="
                  !address1.valid && (address1.dirty || address1.touched)
                "
                >Street Address</small
              >
              <div
                *ngIf="!address1.valid && (address1.dirty || address1.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="address1.errors.required">
                  Street Address is required
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                formControlName="address2"
                placeholder="Street Address Line 2"
                [ngClass]="{
                  'is-invalid':
                    !address2.valid && (address2.dirty || address2.touched)
                }"
              />
              <small
                [hidden]="
                  !address2.valid && (address2.dirty || address2.touched)
                "
                >Street Address Line 2</small
              >
              <div
                *ngIf="!address2.valid && (address2.dirty || address2.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="address2.errors.required">
                  Street Address is required
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                formControlName="city"
                placeholder="City"
                [ngClass]="{
                  'is-invalid': !city.valid && (city.dirty || city.touched)
                }"
              />
              <small [hidden]="!city.valid && (city.dirty || city.touched)"
                >City</small
              >
              <div
                *ngIf="!city.valid && (city.dirty || city.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="city.errors.required">City is required</div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                formControlName="province"
                placeholder="Province"
                [ngClass]="{
                  'is-invalid':
                    !province.valid && (province.dirty || province.touched)
                }"
              />
              <small
                [hidden]="
                  !province.valid && (province.dirty || province.touched)
                "
                >State / Province</small
              >
              <div
                *ngIf="!province.valid && (province.dirty || province.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="province.errors.required">Province is required</div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                pattern="\d{1,8}"
                formControlName="zipCode"
                placeholder="Zip Code"
                [ngClass]="{
                  'is-invalid':
                    !zipCode.valid && (zipCode.dirty || zipCode.touched)
                }"
              />
              <small
                [hidden]="!zipCode.valid && (zipCode.dirty || zipCode.touched)"
                >Postal / Zipe Code</small
              >
              <div
                *ngIf="!zipCode.valid && (zipCode.dirty || zipCode.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="zipCode.errors.required">Zip Code is required</div>
                <div *ngIf="zipCode.errors.pattern">Not the number</div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <select
                class="form-control"
                formControlName="country"
                id="exampleFormControlSelect1"
                [ngClass]="{
                  'is-invalid':
                    !country.valid && (country.dirty || country.touched)
                }"
              >
                <option value=""></option>
                <option value="Cambodia">Cambodia</option>
                <option value="Thai">Thai</option>
                <option value="VietName">VietName</option>
                <option value="China">China</option>
              </select>
              <small
                [hidden]="!country.valid && (country.dirty || country.touched)"
                >Contry</small
              >
              <div
                *ngIf="!country.valid && (country.dirty || country.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="country.errors.required">City is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-12">
        <label class="text-bold">Birth Date:</label>
        <div class="row" formGroupName="birth">
          <div class="col-xl-4">
            <div class="form-group">
              <select
                class="form-control"
                formControlName="month"
                [ngClass]="{
                  'is-invalid': !month.valid && (month.dirty || month.touched)
                }"
              >
                <option value=""></option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
              </select>
              <small [hidden]="!month.valid && (month.dirty || month.touched)"
                >Month</small
              >
              <div
                *ngIf="!month.valid && (month.dirty || month.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="month.errors.required">Month is required</div>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <select
                class="form-control"
                formControlName="day"
                [ngClass]="{
                  'is-invalid': !day.valid && (day.dirty || day.touched)
                }"
              >
                <option value=""></option>
                <option value="Mon">Mon</option>
                <option value="Tu">Tu</option>
                <option value="Wed">Wed</option>
                <option value="Thu">Thu</option>
                <option value="Fri">Fri</option>
                <option value="Sat">Sat</option>
                <option value="Sun">Sun</option>
              </select>
              <small [hidden]="!day.valid && (day.dirty || day.touched)"
                >Day</small
              >
              <div
                *ngIf="!day.valid && (day.dirty || day.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="day.errors.required">Day is required</div>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="form-group">
              <select
                class="form-control"
                formControlName="year"
                [ngClass]="{
                  'is-invalid': !year.valid && (year.dirty || year.touched)
                }"
              >
                <option value=""></option>
                <option value="2000">2000</option>
                <option value="1999">1999</option>
                <option value="1998">1998</option>
                <option value="1997">1997</option>
                <option value="1996">1996</option>
                <option value="1995">1995</option>
                <option value="1994">1994</option>
                <option value="1993">1993</option>
                <option value="1992">1992</option>
                <option value="1991">1991</option>
                <option value="1990">1990</option>
              </select>
              <small [hidden]="!year.valid && (year.dirty || year.touched)"
                >Year</small
              >
              <div
                *ngIf="!year.valid && (year.dirty || year.touched)"
                class="invalid-feedback"
              >
                <div *ngIf="year.errors.required">Year is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="form-group">
          <label class="text-bold">What did you here about us?</label>
          <div class="form-check" *ngFor="let data of Data; let i = index">
            <input
              class="form-check-input"
              type="checkbox"
              [value]="data.value"
              (change)="onCheckboxChange($event)"
              required
            />
            <label class="form-check-label">
              {{ data.name }}
            </label>
          </div>
          <div
            *ngIf="this.registerForm.controls['checkArray'].errors?.required"
            class="invalid-feedback"
          >
            Checkbox is required, select atleast one value.
          </div>
        </div>
      </div>

      <div class="col-xl-12">
        <h3>Membership Rules</h3>
        <hr />
        <ol style="padding: 20px">
          <li>Membership is avaible to anyone 18 years of age or older.</li>
          <li>
            You promise NDT to use to conduct any frauduient or business
            activity or have more than one Member Account at any time.
          </li>
        </ol>
        <div class="form-check" style="padding: 20px">
          <input
            class="form-check-input"
            type="checkbox"
            value="Membership Rules"
            formControlName="membership"
            id="membership"
            [ngClass]="{
              'is-invalid':
                !membership.valid && (membership.dirty || membership.touched)
            }"
          />
          <label
            class="form-check-label"
            for="membership"
          >
            I have read, understood , and accepted the rule for membership
          </label>
        </div>
      </div>

      <div class="col-xl-12">
        <h3>Privacy Policy</h3>
        <hr />
        <ol style="padding: 20px">
          <li>Membership is avaible to anyone 18 years of age or older.</li>
          <li>
            You promise NDT to use to conduct any frauduient or business
            activity or have more than one Member Account at any time.
          </li>
        </ol>
        <div class="form-check" style="padding: 20px">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="privacy"
            value="Privacy Policy"
            id="privacy"
            [ngClass]="{
              'is-invalid': !privacy.valid && (privacy.dirty || privacy.touched)
            }"
          />
          <label
            class="form-check-label"
            for="privacy"
          >
            I have read, understood, and accepted the PRIVACY POLICY for
            membership.
          </label>
        </div>
      </div>

      <div class="col-xl-12" style="text-align: center">
        <i
          >Once you submit your application, we will contact you shorlty ot
          complete you membership application.</i
        >
      </div>
      <div class="col-xl-12 thank" >
        <i>Thank you!</i>
      </div>
    </div>
    <hr />
    <div
      class="col-xl-12 btn-submit"
    >
      <app-modal [disableBtn]="!registerForm.valid" [firstName]="firstName.value" [lastName]="lastName.value" [email]="email.value" >Submit Application</app-modal>
    </div>
  </form>
</div>
