<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">View Person</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div>
            <label>Person Name : {{firstName}} {{lastName}}</label>
          </div>
      <div>
        <label>E-mail : {{email}}</label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="d('Cross click')">Close</button>
    </div>
  </ng-template>
  
  <button class="btn btn-success" type="submit" [disabled]="disableBtn" (click)="open(content)">
    <ng-content></ng-content>
  </button>
